/* RESET GERAL (remove espaços padrão do navegador) */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    user-select: none;
}

/* ESTILO GERAL DA PÁGINA */
body{
    font-family: Georgia, serif;
    background:#f8f6f2;
    color:#111;
    margin-top: 100px; /* PARA NÃO FICAR POR BAIXO DO HEADER */
}
/* deixando as datas em preto  */
.datas button{
    color: black;
}
/* deixando os horarios em preto */
.horarios button{
    color: black;
}
h1,h2,h3,span{
    font-family: Georgia, serif;
    font-weight: bold;
}

/* CONTAINER PRINCIPAL */
.container{
    max-width:1000px;
    margin:auto;
    background:#fff;
    padding:40px;
    margin-top: 100px;
}

/* TÍTULO */
h1{
    font-size:3rem;
    margin-bottom:10px;
    font-weight:bold;
}

.subtitulo{
    color:#d8b574;
    font-size:1.5rem;
    margin-bottom:50px;
    font-weight:bold;
}

/* ETAPAS */
.etapa{
    display:flex;
    align-items:center;
    gap:15px;
    margin-top:40px;
    margin-bottom:20px;
    padding-top:30px;
    border-top:1px solid #d4d4d4;
}

.numero{
    width:40px;
    height:40px;
    border:2px solid #d8b574;
    border-radius:50%;
    color:#d8b574;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
}

.etapa h2{
    font-size:1.5rem;
    font-weight:normal;
}

/* SERVIÇOS */
.servicos{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    
}

.card{
    border:1px solid #d8b574;
    padding:25px;
    cursor:pointer;
    transition:.3s;
    background:white;
    border-radius: 0%;
    border: solid 5px black;
}

.card:hover{
    transform:translateY(-5px);
}

/* TEXTO DO CARD */
.card h3{
    margin-bottom:10px;
}

.card p{
    color:#666;
    margin-bottom:10px;
}

.card span{
    color:#d8b574;
    font-weight:bold;
}

/* CARD SELECIONADO */
.card.ativo{
    background:#d8b574;
    color:white;
}

.card.ativo span,
.card.ativo p{
    color:white;
}

/* DATAS E HORÁRIOS */
.datas,
.horarios{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.datas button,
.horarios button{
    padding:12px 25px;
    border:1px solid #d8b574;
    background:white;
    cursor:pointer;
    font-size:1rem;
    transition:.3s;
}

.datas button:hover,
.horarios button:hover{
    background:#d8b574;
    color:white;
}

/* BOTÃO ATIVO */
.datas button.ativo,
.horarios button.ativo{
    background:#d8b574;
    color:white;
}

/* FORMULÁRIO */
.formulario{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.formulario input{
    padding:15px;
    border:none;
    border-bottom:1px solid #d4d4d4;
    font-size:1rem;
    background:transparent;
}

.formulario input:focus{
    outline:none;
    border-bottom:1px solid #d8b574;
}

/* BOTÃO FINAL */
#agendar{
    margin-top:40px;
    width:100%;
    padding:18px;
    background:#d8b574;
    color:white;
    border:none;
    font-size:1.1rem;
    cursor:pointer;
    transition:.3s;
}

#agendar:hover{
    background:#c7a15c;
}

/* ICONE DE CALENDARIO */
.material-symbols-outlined{
    color: #d8b574;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 8px 16px;
    box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.25);
}

header img {
    width: 40px;
}

header a {
    color: black;
    text-decoration: none;
    padding: 8px;
}

header a:hover {
    font-weight: bolder;
}
/* RODAPÉ */
footer {
    background-color: #0f0f0f;
    color: #fff;
    padding: 40px;
}

/* DEIXANDO ITENS EM LINHA */
footer #display-rodape {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
}

/* TITULOS DO RODAPÉ */
h4{
    font-family: Georgia, sans-serif;
    font-weight: bold;
}

/* NOME E SLOGAN */
footer #nome-slogan{
    text-align: center;
}

/* HORARIOS */
footer #horarios{
    text-align: center;
}

/* TIRANDO PADDING DA LISTA */
footer #horarios ul{
    padding: 0;
}

/* TEXTOS DO RODAPÉ */
footer p,
footer li {
    color: #ccc;
    font-size: 14px;
    list-style: none;
}

/* LINK QUE DIRECIONA AS REDES */
#redes a{
    color: #ccc;
    font-size: 30px;
}

/* DIREITOS RESERVADOS */
#direitos {
    text-align: center;
    padding-top: 15px;
    font-size: 13px;
    color: #aaa;
}
@media (max-width: 768px) {

    /* HEADER */
    header {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    /* RODAPÉ */
    footer #display-rodape{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}