*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.conteiner-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    gap: 40px;
}

/* grid das imagens */
.grid-trajetoria{
    display: grid;
    grid-template-columns: 2fr 1fr; /* Esquerda maior */
    grid-template-rows: 1fr 1fr; /* duas linhas iguais */
    gap: 15px;
    width: 500px; /*tamanho total */
}

/* imagem grande */
.fotos-procedimento{
    grid-row: span 2; /* faz ele ocupar duas linhas */
}
.fotos-procedimento,
.cortando-cabelo,
.fotos-loja {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.grid-trajetoria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
